# This file was copy-pasted from .gitignore.
# The only change is that I removed the '.next' folder (which contains the 'next build' result).
#
# Why was this required?
# Without this file, Google Cloud Run creates '.gcloudignore' automatically based on the '.gitignore' file.
# Since '.gitignore' ignores the '.next' folder, the built image does not include it either.
# This makes the image broken and the service unavailable.
#
# Therefore the solution was to create '.gcloudignore' in order to remove '.next' from the ignored files.


# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts
